body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #333;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-gap: 10px;
    margin-top: 20px;
}

.box {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #4CAF50;
    user-select: none;
}
button#previous-level {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
button#next-level {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
button#restart-level {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#grid-container {
    display: grid;
    grid-template-rows: repeat(2, 80px);
    grid-gap: 10px;
    margin-top: 20px;
}